.phone-form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-form {
  width: 30%;
  background-color: rgb(249, 247, 247);
  display: flex;
  justify-content: center;
}

.phone-form .phone {
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.phone-form form h2 {
  font-size: 1.8rem;
  text-align: center;
}

.phone-form form input {
  width: 100%;
  margin: auto;
  padding: 0.8rem 0.5rem;
  border: 1px solid gray;
  outline: none;
}
.phone-form form button {
  width: 80%;
  background-color: rgba(69, 112, 176, 0.936);
  padding: 1.2rem 0.5rem;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 798px) {
  .phone-form {
    width: 95%;
    background-color: rgb(249, 247, 247);
    display: flex;
    justify-content: center;
  }
}
